# Directories
wrf_io.egg-info/
wrf_io/__pycache__/
.eggs/
build/
.pytest_cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS

*.DS_Store